.mat-form-field {
    width: 100%;
}

.container {
    max-width: 100%;
}

.example-header-image {
    background-size: cover;
}

.example-spacer {
    flex: 1 1 auto;
}

.nounderline {
    text-decoration: none !important
}

.text-medium{
    font-size: 17px;
    font-weight: 450;
}

.mat-button-toggle-group {
    width: 100%;
}

.text-black {
    color: #6B6974;
}

.text-description {
    color: #D1D0D3;
    font-size: 11px;
}

.bg-div {
    font-family: Roboto;
    background-color: #FFFFFF;
}